* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", serif;
}

.top-header {
    width: 80vw;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.top-section {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 322px;
}

.intro-container {
    width: 800px;
    margin: 0 auto;
    padding: 2em 1em;
}

.intro-container span {
    color: green;
}

.intro-container h1, 
.intro-container p {
    padding-top: 1em;
}

.bottom-section {
    background-color: #666666;
    width: 100vw;
    height: 450px;
    display: grid;
    place-content: center;
}

.info-container {
    width: 800px;
    margin: 0 auto;
    border-bottom: 8px solid rgba(0, 0, 0, 0.254);
    background-color: #ffffff;
}

.info-box {
    background-color: white;
    width: 800px;
    height: 312px;
    margin-top: 2em;
}

.highlight {
    width: 70%;
    height: 60px;
    background-color: #FFBF00;
    display: flex;
    align-items: center;
    padding: 15px 35px;
    position: relative;
    top: 1em;
    left: -1em;
    border-bottom: 8px solid rgba(0, 0, 0, 0.254);
}

.text-content {
    max-width: 752px;
    padding: 1.5em 2em;
}

/* Responsive Design */
@media only screen and (max-width: 600px) {
    .top-section {
        width: 100vw;
        height: 322px;
    }
    
    .intro-container {
        width: 400px;
        margin: 0 auto;
        padding: 3em 1em;
    }

    .bottom-section {
        width: 100vw;
        height: 250px;
        display: grid;
        place-content: center;
    }

    .info-container {
        width: 390px;
        margin: 0 auto;
        border-bottom: 8px solid rgba(0, 0, 0, 0.254);
        background-color: #ffffff;
        height: 50vh;
    }

    .info-box {
        width: 390px;
        height: 312px;
        margin-top: 2em;
    }

    .highlight {
        width: 379px;
        height: 60px;
        background-color: #FFBF00;
        align-items: center;
        padding: 15px 35px;
        position: relative;
        top: 1em;
        left: -1em;
        border-bottom: 8px solid rgba(0, 0, 0, 0.254);
        font-size: .9em;
    }
}
