body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #ddd; 
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.top-section {
    background: white;
    padding: 50px;
}

.green-text {
    color: green;
    font-weight: bold;
}

.bottom-section {
    background: #a99e9e;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    position: relative;
} 

.content-wrapper {
    background: rgb(239, 221, 221);
    padding: 20px;
    width: 50%; 
    box-shadow: 0 4px 6px rgba(243, 232, 232, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: left;
}

.highlight-box {
    background: yellow;
    font-weight: bold;
    padding: 10px;
    display: inline-block;
    position: absolute;
    top: 10%;
    left: -20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    .bottom-section {
        padding: 20px;
        height: auto;
    }
    .content-wrapper {
        width: 80%; /* Adjusted for responsiveness */
        padding: 15px;
    }
    .highlight-box {
        left: -15px;
    }
}



